@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@font-face {
  font-family: Regular;
  src: url(/fontes/Quicksand-Regular.ttf);
}

@font-face {
  font-family: Medium;
  src: url(/fontes/Quicksand-Medium.ttf);
}

@font-face {
  font-family: Semibold;
  src: url(/fontes/Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: Bold;
  src: url(/fontes/Quicksand-Bold.ttf);
}

* {
  font-family: Medium;
}